
@{
    ViewBag.Title = "SMS_Auth";
}

<h2>SMS_Auth</h2>

<div class="row">
    <div class="col-md-8 col-md-offset-2" style="margin-top: 60px">
        <form class="well" action="~/Home/SMS_Auth" method="POST">
            <label>Token</label>
            <input type="text" name="sms_key" value="" class="form-control" />
            <input type="hidden" name="userId" value="@ViewBag.userId" />
            <input type="hidden" name="username" value="@ViewBag.username" />
            <br />
            <br />

            <button name="submit" value="SMS_Auth" class="btn btn-primary">Login</button>
            <br />
        </form>
    </div>
</div>